<!DOCTYPE html>
<html lang="en">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- Meta, title, CSS, favicons, etc. -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>الرقابة الصحية|عرعر </title>

        <!-- Bootstrap core CSS -->

        <link href="css/bootstrap.min.css" rel="stylesheet">

        <link href="fonts/css/font-awesome.min.css" rel="stylesheet">
        <link href="css/animate.min.css" rel="stylesheet">

        <!-- Custom styling plus plugins -->
        <link href="css/custom.css" rel="stylesheet">
        <link href="css/icheck/flat/green.css" rel="stylesheet">


        <script src="js/plugins/jquery.min.js"></script>


        <!-- START TEMPLATE -->
        <script type="text/javascript" src="js/plugins/moment.min.js"></script>

        <script type="text/javascript" src="js/angular.js"></script>
        <script type="text/javascript" src="js/angular-route.min.js"></script>
        <script type="text/javascript" src="js/ngStorage.min.js"></script>
        <script type="text/javascript" src="js/angular.ui.bootstrap.js"></script> 
        <script src="js/angular-sanitize.js"></script>
        <script type="text/javascript" src="js/select.js"></script>
        <script src="app.js" type="text/javascript" ></script>
        <script src="parties/UserServices.js" type="text/javascript" ></script>
        <script src="js/angular-datatable.js"></script>
        <script type="text/javascript" src="js/jquery.dataTables.js"></script>
        <script type="text/javascript" src="js/angular-base64.js"></script>
        <script type="text/javascript"  src="js/plugins/datatables/tools/js/dataTables.tableTools.js"></script>
        <script type="text/javascript"  src="js/angular-datatables.tabletools.min.js"></script>
        <script type="text/javascript"  src="js/angular-datatables.buttons.min.js"></script>
<!--        <script src="js/buttons/buttons.colVis.js"></script>
        <script src="js/buttons/buttons.flash.js"></script>
        <script src="js/buttons/buttons.html5.js"></script>-->
        <script src="js/buttons/buttons.print.js"></script>
        <script type="text/javascript"  src="js/angular-datatables.bootstrap.min.js"></script>
        <script src="js/angular-bootstrap-file-field.min.js" type="text/javascript" ></script>
        <script type="text/javascript" src="js/angular-animate.js"></script>
        <script type="text/javascript" src="js/angular-growl.min.js"></script>
        <script type="text/javascript" src="js/plugins/angular-moment-hijri.min.js"></script>
       

        <!--[if lt IE 9]>
            <script src="../assets/js/ie8-responsive-file-warning.js"></script>
            <![endif]-->

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
              <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
              <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
            <![endif]-->
        <style type="text/css">
            .login_content{
                padding: 0;
                margin: 0;
            }
            #wrapper{
                width: 385px;
            }
        </style>
    </head>

    <body  ng-app="reqaba_app" style="background:#F7F7F7;" >

        <div class=""  ng-controller="loginCtrl">
            <a class="hiddenanchor" id="toregister"></a>
            <a class="hiddenanchor" id="tologin"></a>

            <div id="wrapper">
                <div id="login" class="animate form">
                    <section class="login_content">
                        <center>
                            <img width="256px" src="images\logo.jpg">
                        </center>
                        <div class="alert alert-danger" ng-show="isLoginFailed" role="alert">لا يمكنك تسجيل الدخول الى النظام</div>

                        <form >
                            <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;نظام الرقابة الصحية الإلكترونية&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1>
                            <div>
                                <input type="text" class="form-control" name="username" placeholder="أسم المستخدم" required=""  ng-model="user.name" />
                            </div>
                            <div>
                                <input type="password" class="form-control" name="password" placeholder="الرقم السرى" required="" ng-model="user.password" />
                            </div>
                            <div>
                                <button id="btnlgn" type="submit" ng-click="login()" class="btn btn-success btn-block">
                                    <span class="glyphicon glyphicon-share-alt"></span> الدخول الى النظام
                                </button>
                            </div>
                            <div class="clearfix"></div>
                            <div class="separator">
                                <div class="clearfix"></div>
                                <br />
                                <div>
                                    <p>حقوق الطبع محفوظة للمؤلف 2015 &copy;</p>
                                </div>
                            </div>
                        </form>
                        <!-- form -->
                    </section>
                    <!-- content -->
                </div>

            </div>
        </div>

    </body>

</html>