<!-- page content -->
<div class="right_col" role="main" dir="rtl">

    <div class="">
        <div class="page-title">
            <div class="title_right">
                <h3>
                    الملاك
                </h3>
            </div>


        </div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">

                    <div class="x_content">

                        <form  class="form-horizontal form-label-left" novalidate>

                            <span class="section">بيانات المالك</span>

                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">الاسم <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="name" class="form-control col-md-7 col-xs-12" data-validate-length-range="6"  ng-model="bean.name"  placeholder="إسم المالك" required="required" type="text">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="username">الهوية <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="username" class="form-control col-md-7 col-xs-12" data-validate-length-range="6"  ng-model="bean.identity" placeholder="رقم الهوية" required="required" type="text">
                                </div>
                            </div>
                            <div class="item form-group" id="exSelects">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="mySel">الجنسية <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">

                                        <select id="mySel" class="form-control col-md-7 col-xs-12" ng-model="bean.nationality" >
                                            <option ng-repeat="item in items" ng-selected="item.selected" value="{{item.code}}">{{item.name}}</option>
                                        </select>
                                    </div>
                            </div><!--/row-->
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="phone">الهاتف <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="phone" class="form-control  col-md-7 col-xs-12" dir="ltr" ng-model="bean.phone" data-mask="(999) 999-999-9999" placeholder="(966) 111-222-4444" required="required"  type="text">
                                </div>
                            </div>
                            
                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-md-offset-3">
                                    <a href="#/showowner" class="btn btn-primary">رجوع</a>
                                    <button  class="btn btn-success" ng-click="saveBean()">حفظ</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
